{{command.name}}
<button class="remove" mat-icon-button (click)="remove.emit()" aria-label="Remove" title="Remove">
    <mat-icon>delete</mat-icon>
</button>

<mat-form-field appearance="fill" *ngIf="command.type === CommandType.TEXT || command.type === CommandType.RPC">
    <textarea matInput [(ngModel)]="command.text" (changed)="changed.emit()"></textarea>
</mat-form-field>

<mat-form-field appearance="fill"
    *ngIf="command.type === CommandType.WAIT || command.type === CommandType.MOUSE_WHEEL || command.type === CommandType.MOUSE_X || command.type === CommandType.MOUSE_Y || command.type === CommandType.TONE">
    <input matInput type="number" [(ngModel)]="command.text" (changed)="changed.emit()" />

    <span matSuffix *ngIf="command.type === CommandType.WAIT">s</span>
    <span matSuffix *ngIf="command.type === CommandType.MOUSE_WHEEL">steps</span>
    <span matSuffix *ngIf="command.type === CommandType.MOUSE_X || command.type === CommandType.MOUSE_Y">px</span>
    <span matSuffix *ngIf="command.type === CommandType.TONE">hz</span>
</mat-form-field>
