:host {
    position: relative;
    display: table;
    background: var(--color2);
    color: #fff;
    margin: 4px 0;
    padding: 12px 40px 8px 40px;
    border-radius: 3px;
    min-height: 30px;
    cursor: pointer;
}

:host:before {
    content: ''; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    top: 0;
    left: 10px;
    width: 0;
    z-index: 1;
    height: 0;
    border-top: solid 4px #eee; /* Creates the notch */
    border-left: solid 8px transparent; /* Creates triangle effect */
    border-right: solid 8px transparent; /* Creates triangle effect */
}

:host:after {
    content: ''; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    bottom: -4px;
    left: 10px;
    width: 0;
    z-index: 2;
    height: 0;
    border-top: solid 4px #0288D1; /* Creates the notch */
    border-left: solid 8px transparent; /* Creates triangle effect */
    border-right: solid 8px transparent; /* Creates triangle effect */
}

:host .remove {
    font-family: monospace;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

:host mat-form-field {
    margin-top: 4px;
    font-size: 10px;
}

:host mat-form-field textarea,
:host mat-form-field input,
:host ::ng-deep mat-form-field .mat-form-field-suffix {
    font-size: 14px;
}

:host mat-form-field {
    display: block;
}

:host.MODIFIER_ON,
:host.MODIFIER_OFF {
    background: var(--color1);
}
:host.MODIFIER_ON:after,
:host.MODIFIER_OFF:after {
    border-top-color: var(--color1);
}
:host.KEYPRESS {
    background: var(--color2);
}
:host.KEYPRESS:after {
    border-top-color: var(--color2);
}
:host.TEXT,
:host.WAIT,
:host.RPC,
:host.TONE,
:host.TONE_STOP {
    background: var(--color3);
}
:host.TEXT:after,
:host.WAIT:after,
:host.RPC:after,
:host.TONE:after,
:host.TONE_STOP:after {
    border-top-color: var(--color3);
}
:host.FAVORITE {
    background: var(--color4);
}
:host.FAVORITE:after {
    border-top-color: var(--color4);
}
:host.MOUSE_BUTTON,
:host.MOUSE_WHEEL,
:host.MOUSE_X,
:host.MOUSE_Y {
    background: var(--color5);
}
:host.MOUSE_BUTTON:after,
:host.MOUSE_WHEEL:after,
:host.MOUSE_X:after,
:host.MOUSE_Y:after {
    border-top-color: var(--color5);
}
:host.CONSUMER_CONTROL {
    background: var(--color6);
}
:host.CONSUMER_CONTROL:after {
    border-top-color: var(--color6);
}
